<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="../static/js/main.js" defer></script>
    <title>la la la</title>
</head>
<body>
    <h1>Crecker films</h1>
    <img src="https://img001.prntscr.com/file/img001/4gTYahwSRvynWQA6KLCHfQ.png" alt="err404">

    <a href="/genre/all">get all genres</a>
    <a href="/film/all">get all films</a>
</body>
</html>